

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<section class="header">
    <div class="illustration"><img class="homePic" src="assets/img/cover.webp?h=2b4a953b283c178ac5acb098d3bc2cc0"></div>
    <div class="fieldList">
        <div class="row padMar">
            <div class="col padMar">
                <h1>Nothing on TV yet bro' ?</h1>
                <p>Type at least one keyword to find your happiness.</p>
                <div class="input-group"><input class="form-control autocomplete" type="text" id="SearchMovie" name="SearchMovie" placeholder="Keyword, Actor, ..." [(ngModel)]="SearchMovie"><button class="btn btn-warning" type="button" (click)="clickme()"><i class="fa fa-search"></i></button></div><p><br><i>Pssss !</i> The trick to avoid paying the TV fee. Come on bro <a href='https://www.lafinancepourtous.com/outils/questions-reponses/qui-peut-etre-exonere-de-la-redevance-audiovisuelle/?gclid=CjwKCAiAiKuOBhBQEiwAId_sK-iLmQ920xKXj4X5JWWmy6NTw5tnVT7coYKHxt6AXbiY-Z_oC9-xFRoC6DQQAvD_BwE'>give me the tip</a>!<br /></p>
            </div>
        </div>
    </div>
</section>
<app-movie></app-movie>

<router-outlet></router-outlet>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
