<div class="modalbox hidden" appOutside (click)="ClickedOut($event)">
    <div class="bgModal">
        <div class="barModal">
            <span class="title">{{Movie.title}}{{Movie.name}}</span>
            <i class="far fa-times-circle" alt="Fermer" (click)="closeModal()"></i>
        </div>
        <div class="contentModal">
            <div class="rowLeft">
                <img src="" class="illustration"/>
                <h5>VOD:</h5>
                <p class="platformList"> 
                    <button onclick="window.open('https://www.netflix.com/');"><img src="assets/img/icons/netflix.png?h=9f98133d66f72120c2f3ef6b5228cb94" alt="Netflix" title="Netflix"/><span class="txt">Netflix</span></button> 
                   <button onclick="window.open('https://www.disney.fr/');"><img src="assets/img/icons/disney.png?h=20ef07049f982761d05ecf116f1b3a9a" alt="Disney" title="Disney"/><span class="txt">Disney</span></button> 
                    <button onclick="window.open('https://www.amazonprime.com/');"><img src="assets/img/icons/amazon.png?h=495e89686f0bd21b8f6f4e55e183ef47" alt="Amazon Prive video" title="Amazon Prime Video"/><span class="txt">Prime video</span></button>
                </p>
            </div>
            
            <div class="content">
                <h5>Summary:</h5>
                <p>{{Movie.overview == '' ? 'Any summary available.' : Movie.overview}}</p>
                <h5 class="bandeOff">Trailer:</h5>
                <div id="youtube"></div>
            </div>
        </div>
    </div>
</div>
<section class="header">
    <div class="illustration"><img class="homePic" src="assets/img/cover.webp?h=2b4a953b283c178ac5acb098d3bc2cc0"></div>
    <div class="fieldList">
        <div class="row padMar">
            <div class="col padMar">
                <h1>Nothing on TV yet bro' ?</h1>
                <p>Type at least one keyword to find your happiness.</p>
                <div class="input-group">
                    <input (click)="resetResult()" class="form-control autocomplete" type="text" id="SearchMovie" (keyup)="handleKeyUp($event)"  name="SearchMovie" placeholder="Keyword, Actor, ..." [(ngModel)]="SearchMovie">
                    <button class="btn btn-warning" type="button" (click)="clickme()"><i class="fa fa-search"></i></button>
                </div>
                <br>
                <label for="cars">Or select a movie genre:</label>
                <div class="input-group">
                    <select id="opt" class="form-control form-select" (change)="searchMoviebyGenre()">
                        <option selected disabled></option>
                        <option [value]="genre.id" *ngFor="let genre of genres">{{genre.name}}</option>
                    </select>
                    <button class="btn btn-warning" type="button" (click)="searchMoviebyGenre()"><i class="fa fa-search"></i></button>
                </div>
                <p><br><i>Pssss !</i> The trick to avoid paying the TV fee. Come on bro <a href='https://www.lafinancepourtous.com/outils/questions-reponses/qui-peut-etre-exonere-de-la-redevance-audiovisuelle/?gclid=CjwKCAiAiKuOBhBQEiwAId_sK-iLmQ920xKXj4X5JWWmy6NTw5tnVT7coYKHxt6AXbiY-Z_oC9-xFRoC6DQQAvD_BwE'>give me the tip</a>!<br /></p>
            </div>
        </div>
    </div>
</section>
<section class="dynamic hidden" id="dynamic">
    <h2>Résultats pour « {{inputSearch}} »<br></h2>
    <div class="itemList">

        <span *ngFor="let item of movies">
            <figure class="snip1527" (click)="movie(item.id)" *ngIf="(item.poster_path+item.backdrop_path != '' && item.poster_path+item.backdrop_path != null && item.poster_path+item.backdrop_path != undefined) && (item.name+item.title != '' && item.name+item.title != null && item.name+item.title != undefined) && (item.media_type=='movie' || item.media_type==null)" >
                <div class="image"><img [src]="imgurl+checkImg(item.poster_path, item.backdrop_path)" alt="poster of movie of {{item.title}}" /></div>
                <figcaption>
                  <div class="date" *ngIf="item.release_date!=null || item.first_air_date!=null"><!-- <span class="day">28</span><span class="month">Oct</span> -->
                      {{item.release_date | date :'yyyy'}}
                      {{item.first_air_date | date :'yyyy'}}
                  </div>
                  <h3>{{item.title}}{{item.name}}</h3>
                  <br>
                    <p><i class="fas fa-film"></i> {{item.overview == '' ? 'Any summary available.' : summaryShort(item.overview)}}</p>
                </figcaption>
            </figure>
        </span>

    </div>
</section>



