<section *ngIf="movies[1]!=null;else Movietemplate">
    <div *ngFor="let item of movies">
        <h2>{{item.title}}</h2>
        <h3>{{item.release_date}}</h3>
        <button>{{item.adult}}</button>
        <button *ngFor="let michel of movies.genres">{{michel.name}}</button>
        <p>{{item.overview}}</p>
        <img [src]="imgurl+item.poster_path" alt="poster of movie of {{item.title}}">
    </div>
</section>

<ng-template #Movietemplate>
    <div>
        <h2>{{movies.title}}</h2>
        <h3>{{movies.release_date}}</h3>
        <button>{{movies.adult}}</button><br>
        <button *ngFor="let michel of movies.genres">{{michel.name}}</button>
        <p>{{movies.overview}}</p>
        <img [src]="imgurl+movies.poster_path" alt="poster of movie of {{movies.title}}">
    </div>
</ng-template>
{{movies.id}}
